/* BASE CSS RULES */

html {
  font-family: "Playpen Sans", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(255, 224, 196);
}

button,
textarea {
  font-family: inherit;
}

hr {
  border: 1px solid gray;
  width: 90%;
  margin: 5px 5px 5px 15px;
}

/* HEADER OF THE WEBSITE */

#head-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 224, 196);
  border-bottom: 2px solid gray;
  position: sticky;
  top: 0;
}

#website-logo-img {
  height: calc(100% - 10px);
  border-radius: 50%;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#name-p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.2rem;
}

#location-p {
  display: flex;
  color: rgb(82, 82, 82);
  margin-top: 0;
  font-size: 0.8rem;
}

#location-p img {
  width: 18px;
}

#open-cart-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 20px;
  width: 80px;
  height: 40px;
  border-radius: 25px;
  font-size: 15px;
  background-color: white;
  transition: background-color 0.3s ease;
}

#open-cart-btn:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

#open-cart-btn:active {
  transform: scale(0.95);
}

#open-cart-btn-span {
  text-align: center;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  font-size: 0.9em;
  color: white;
  background-color: red;
}

#open-cart-btn img {
  width: 24px;
  height: 24px;
}

/* WELCOME */

#welcome-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background: linear-gradient(blue, blue 50%, yellow 50%, yellow 100%);
  text-align: center;
  font-size: 22px;
}

#welcome-p1 {
  color: white;
}

#welcome-p2 {
  color: black;
}

/* FILTERS */

#filter-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 70px;
  height: 60px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  background-color: white;
}

.filter-btn {
  font-size: 15px;
  padding: 5px 10px;
  margin: 0 7px;
  border-radius: 25px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.filter-btn:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.filter-btn:active {
  transform: scale(0.95);
}

/* DISHES */

#dishes-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dish {
  overflow: hidden;
  width: 300px;
  height: 350px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.dish:hover {
  background-color: rgb(230, 230, 230);
}

.dish img {
  width: 100%;
  height: 170px;
}

.dish h3 {
  margin: 5px 0 0 10px;
}

.dish p {
  height: 70px;
  overflow: hidden;
  font-size: 0.9em;
  margin: 5px 10px 0 10px;
  color: rgb(82, 82, 82);
}

.dish div {
  display: flex;
  gap: 120px;
  align-items: center;
}

.dish span {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 1.2em;
}

.dish button {
  font-size: 15px;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 25px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.dish button:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.dish button:active {
  transform: scale(0.95);
}

.dish button[disabled] {
  cursor: not-allowed;
  transform: none;
}

/* SHOPPING CART */

#special-cart-div {
  width: 55vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#shopping-cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 45vw;
  background-color: rgb(255, 224, 196);
  z-index: 10;
  border-left: 2px solid gray;
}

#header-and-close-for-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7%;
  border-bottom: 2px solid gray;
  background-color: white;
}

#header-and-close-for-cart h3 {
  margin-left: 10px;
}

#close-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

#close-cart-btn:hover {
  background-color: rgb(230, 230, 230);
}

#close-cart-btn:active {
  transform: scale(0.95);
}

#orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 68%;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  margin-top: 15px;
  width: 100%;
  border: 1px solid black;
}

#header-and-remove-btn-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  border-bottom: 2px solid gray;
}

#header-and-remove-btn-div h4 {
  margin-left: 10px;
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.remove:hover {
  background-color: rgb(230, 230, 230);
}

.remove:active {
  transform: scale(0.95);
}

.remove img {
  width: 22px;
  height: 22px;
}

#price-and-count-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60%;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 1.3em;
}

.add:hover {
  background-color: rgb(230, 230, 230);
}

.add:active {
  transform: scale(0.95);
}

.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 1.3em;
}

.minus:hover {
  background-color: rgb(230, 230, 230);
}

.minus:active {
  transform: scale(0.95);
}

#summary {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  border-top: 2px solid gray;
}

.reservation-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1em;
  margin-bottom: -20px;
}

.reservation-div p {
  font-weight: bold;
}

#reservation-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reservation-btn {
  font-size: 15px;
  padding: 5px 15px;
  font-size: 1.1em;
  margin-top: 15px;
  border-radius: 25px;
  background-color: white;
  transition: background-color 0.3s ease;
}

#reservation-btn:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

#reservation-btn:active {
  transform: scale(0.95);
}

/* RESERVATION FORM */

#special-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 12;
}

#reservation-form {
  background-color: rgb(255, 224, 196);
  border: 2px solid black;
  border-radius: 30px;
  width: 75%;
  height: 95%;
  position: fixed;
  overflow: hidden;
}

#header-and-close-for-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 2px solid gray;
}

#close-reservation-form-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

#close-reservation-form-btn:hover {
  background-color: rgb(230, 230, 230);
}

#close-reservation-form-btn:active {
  transform: scale(0.95);
}

#reservation-form-form fieldset {
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(255, 208, 164);
}

#reservation-form-form legend {
  font-size: 0.9em;
}

#reservation-form-form label {
  display: block;
  height: 30px;
  margin: 5px 0;
}

#reservation-form-form input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

#order-summary {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#form-orders {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80px;
  overflow-y: scroll;
  gap: 10px;
}

.form-order {
  background-color: white;
  display: flex;
  width: 45%;
  height: fit-content;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
}

.form-order h4 {
  margin: 5px;
}

.form-order span {
  font-size: 0.9em;
}

.form-order div {
  margin: 0 10px 5px 5px;
}

#form-orders-summary {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px;
}

#summary-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#form-orders-summary p {
  margin: 0 5px;
  font-weight: bold;
}

#special-requests {
  display: flex;
  align-items: center;
  height: fit-content;
}

#special-requests p {
  margin: 0 5px 5px 5px;
}

#special-requests textarea {
  border: 2px solid black;
  border-radius: 10px;
  resize: none;
  width: 50%;
  height: 50px;
  padding: 5px;
}

#form-note {
  color: red;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 0 5px;
  padding: 5px;
}

#submit-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-form-btn {
  padding: 5px 15px;
  font-size: 1.1em;
  margin: 5px 0;
  border-radius: 25px;
  background-color: white;
  transition: background-color 0.3s ease;
}

#submit-form-btn:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

#submit-form-btn:active {
  transform: scale(0.95);
}

/* FINAL MESSAGE */

.success-message {
  position: fixed;
  top: 200px;
  right: 50px;
  left: 50px;
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 13;
}

/* SPECIAL HIDING CLASS */

.hidden {
  display: none !important;
}

/* RESPONSIVE DESIGN */

@media (max-width: 320px) {
  #filter-div {
    height: 150px;
  }
  #welcome-div {
    font-size: 16px;
  }
  #website-logo-img {
    height: calc(100%-20px);
  }
  #name-p {
    font-size: 1.1rem;
    margin-left: 5px;
  }
  #location-p {
    margin-left: 5px;
  }
  #location-p img {
    width: 16px;
  }
  .dish h3 {
    font-size: 17px;
  }
  .dish p {
    font-size: 0.8em;
    height: 60px;
  }
  .dish div {
    gap: 100px;
  }
  .reservation-div {
    font-size: 0.8em;
  }
  #reservation-btn {
    font-size: 0.9em;
    padding: 0;
  }
  #special-cart-div {
    width: 45vw;
  }
  #shopping-cart {
    width: 55vw;
  }
  #shopping-cart h3 {
    font-size: 0.9em;
  }
  #reservation-btn {
    padding: 5px;
  }
  #reservation-form {
    width: 95%;
    overflow: scroll;
  }
  #reservation-form h2 {
    font-size: 1.2em;
  }
  #reservation-form-form label {
    font-size: 0.9em;
  }
  #reservation-form-form input {
    width: 40%;
  }
  .form-order {
    font-size: 0.8em;
  }
  #form-orders-summary {
    font-size: 0.8em;
  }
  #special-requests p {
    font-size: 0.8em;
  }
  #special-requests textarea {
    font-size: 0.8em;
  }
  #form-note {
    font-size: 0.8em;
  }
  #submit-form-btn {
    font-size: 0.8em;
    padding: 5px;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  #filter-div {
    height: 120px;
  }
  #welcome-div {
    font-size: 16px;
  }
  #website-logo-img {
    height: calc(100%-20px);
  }
  #name-p {
    font-size: 1.1rem;
    margin-left: 5px;
  }
  #location-p {
    margin-left: 5px;
  }
  #location-p img {
    width: 16px;
  }
  .dish h3 {
    font-size: 17px;
  }
  .dish p {
    font-size: 0.8em;
    height: 60px;
  }
  .dish div {
    gap: 100px;
  }
  .reservation-div {
    font-size: 0.8em;
  }
  #reservation-btn {
    font-size: 0.9em;
    padding: 10px;
  }
  #shopping-cart h3 {
    font-size: 0.9em;
  }
  #reservation-form {
    width: 90%;
    overflow: scroll;
  }
  #reservation-form-form input {
    width: 40%;
  }
  .form-order {
    font-size: 0.85em;
  }
  #form-orders-summary {
    font-size: 0.8em;
  }
  #special-requests p {
    font-size: 0.9em;
  }
  #special-requests textarea {
    font-size: 0.8em;
  }
  #form-note {
    font-size: 0.8em;
  }
  #submit-form-btn {
    font-size: 0.8em;
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 644px) {
  #filter-div {
    height: 120px;
  }
}

@media (min-width: 601px) {
  #reservation-btn {
    font-size: 1.4em;
    padding: 20px;
  }
  #shopping-cart h3 {
    font-size: 1.4em;
  }
  #reservation-form {
    width: 90%;
    height: auto;
    max-width: 600px;
  }
  #order-summary {
    width: 95%;
  }
  #special-requests p {
    font-size: 1.1em;
  }
  #special-requests textarea {
    font-size: 1.1em;
  }
  #form-note {
    font-size: 1.1em;
  }
  #submit-form-btn {
    font-size: 1.1em;
    padding: 10px;
  }
}
